{% extends 'layout.html' %}
{% block title %}Listado{% endblock %}
{% block header %}
    <h3 class="title is-4">Mostrar invitados</h3>
{% endblock %}

{% block content %}
    <ul>
        {% for item in lista -%}
        <li class="box">
            <div class="columns is-mobile">
                <div class="column">
                    <label>{{item.nombre}} </label>
                </div>
                <div class="column">
                    {% if item.confirmado %}
                    <b class="button is-info">confirmado</b>
                    {%else%}
                    <a class="button is-primary" href="/confirmar/{{item['nombre']}}">confirmar</a>
                    {%endif%}
                    <a href="/eliminar/{{item['nombre']}}" class="button is-danger">eliminar</a>
                </div>
            </div>
        </li>
        {% endfor -%}
        {% if lista == [] %}
            <span class="box">No hay Invitados...</span>
        {%endif%}
    </ul>
{% endblock %}
