{% extends 'layout.html' %}
{% block title %}Listado{% endblock %}
{% block header %}
    <h3 class="title is-4">Mostrar invitados</h3>
{% endblock %}

{% block content %}
    <ul>
        {% for item in lista %}
        <li class="box">
            <div class="columns is-mobile" id='{{item.id}}' title="{{item.id}}">
                <div class="column is-three-quarters">
                    <h3><b>Nombre:</b></h3>
                    <label>{{item.nombre}} </label>
                </div>
                <div class="column is-one-quarter" style="display: flex;justify-content: flex-end;align-items:center;">
                    {% if item.confirmo %}
                    <b class="button is-info is-small">listo</b>
                    {%else%}
                    <a class="button is-primary is-small" href="/confirmar/{{item.id}}">confirmar</a>
                    {%endif%}
                    <a href="/eliminar/{{item.id}}" class="button is-danger is-small">eliminar</a>
                </div>
            </div>
        </li>
        {% endfor %}
        {% if lista == [] %}
            <span class="box">No hay Invitados...</span>
        {%endif%}
    </ul>
{% endblock %}
